{% extends 'base.html' %}
{% block title %}Skills | Tayyaba Zafar{% endblock %}
{% block content %}
<section class="skills">
  <h2 class="section-title">My <span>Skills</span></h2>
  <div class="skills-grid">
    <div class="skill-card"><h4>Python</h4></div>
    <div class="skill-card"><h4>Django</h4></div>
    <div class="skill-card"><h4>Java</h4></div>
    <div class="skill-card"><h4>C++</h4></div>
    <div class="skill-card"><h4>HTML</h4></div>
    <div class="skill-card"><h4>CSS</h4></div>
    <div class="skill-card"><h4>OOP Concepts</h4></div>
    <div class="skill-card"><h4>Programming Fundamentals</h4></div>
  </div>
</section>
{% endblock %}